* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #23fe0d;
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;

  background-color: #222b2e;

  max-height: 100vh;
  /* overflow-y: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
